<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">

    </uses-permission>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/beadicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/beadicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Beadser"
        tools:targetApi="26">
        <activity
            android:name=".CreateNewRowColums"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CrateNew"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FenechkaInfNew"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".InfAmigurumiPartTwo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfAmigurumiPartOne"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Umyum"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Capybara"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fox"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Braided"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Intertwined"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RowsOfHearts"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chamomile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cherry"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Favorites"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeshCanvas"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeshFlower"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeshKrestik"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CategoriesOfBeads"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfTranspatencyOfBeads"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Hearts"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lizard"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Figures"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GoldWithPeddles"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Braslets"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YelowBlackRing"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfColorOfBeads"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Information"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainMenu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>